@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Amazon Web Services</h1>

    <img src="~/Img/Amazon-DynamoDB.jpg" alt="Amazon DynamoDB" class="img-fluid" style="max-width:950px; max-height:900px; margin-bottom: 20px;">
    <p class="lead">Amazon DynamoDB is a powerful NoSQL database service provided by Amazon Web Services (AWS). It offers scalability, high performance, and seamless integration with other AWS services.</p>

    <a href="@Url.Action("Index", "Productos")" class="btn btn-primary custom-button">Go to Products</a>

</div>

